/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CUSTOM FONTS */
@font-face {
  font-family: "bebas_neuebold";
  src: url("../fonts/bebasneue_bold-webfont-webfont.eot");
  src: url("../fonts/bebasneue_bold-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue_bold-webfont-webfont.woff2") format("woff2"), url("../fonts/bebasneue_bold-webfont-webfont.woff") format("woff"), url("../fonts/bebasneue_bold-webfont-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bebas_neueregular";
  src: url("../fonts/bebasneue-regular-webfont.eot");
  src: url("../fonts/bebasneue-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue-regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue-regular-webfont.woff") format("woff"), url("../fonts/bebasneue-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bebas_neuebold";
  src: url("../fonts/bebasneue_bold-webfont.eot");
  src: url("../fonts/bebasneue_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue_bold-webfont.woff2") format("woff2"), url("../fonts/bebasneue_bold-webfont.woff") format("woff"), url("../fonts/bebasneue_bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "courier_newregular";
  src: url("../fonts/cour-webfont.eot");
  src: url("../fonts/cour-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cour-webfont.woff2") format("woff2"), url("../fonts/cour-webfont.woff") format("woff"), url("../fonts/cour-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "courier_newbold";
  src: url("../fonts/courbd-webfont.eot");
  src: url("../fonts/courbd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/courbd-webfont.woff2") format("woff2"), url("../fonts/courbd-webfont.woff") format("woff"), url("../fonts/courbd-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* TYPOGRAPHY */
* {
  outline: 1px solid red;
  box-sizing: border-box;
}

/* VARIABLES */
/* RESPONSIVE FOR MOBILE  @media only screen and (min-width: 600px)  {...}

@media only screen and (min-width: 1200px)  {...} */
h1 {
  font-family: "bebas_neuebold", Arial, sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  color: #505c34;
  padding: 1rem 2rem;
}

h2 {
  font-family: "courier_newbold", serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
}

h3 {
  font-family: "courier_newbold", serif;
  font-size: 1.1rem;
  padding: 1rem;
}

h4 {
  font-family: "bebas_neuebold", Arial, sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

p {
  font-family: "courier_newregular", serif;
  font-size: 1rem;
  padding: 1rem 2rem;
}

li {
  font-family: "courier_newregular", serif;
  font-size: 1rem;
  width: 100%;
  padding: 20px;
}

a {
  color: black;
}

section {
  width: 100%;
  padding-top: 2rem;
}

/* IMAGES & MEDIA */
.box-img img {
  padding: 2rem;
}

img {
  width: 100%;
}

.icon {
  width: 30px;
}

.logo-container {
  margin: 2rem auto;
}

.map-container iframe {
  width: 100%;
  height: 300px;
}

/* HOME SECTION */
.home-container {
  padding: 0;
}

/* NAV MENU SECTION */
nav {
  width: 100%;
  display: flex;
}

#menuToggle {
  display: block;
  position: relative;
  top: 2rem;
  left: 2rem;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #FDF4E3;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #FDF4E3;
  text-decoration: underline;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  padding: 0;
  background: black;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #FDF4E3;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#navmenu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #505c34;
  color: #FDF4E3;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#navmenu li {
  padding: 3px 0;
  margin: 20px 0;
  font-size: 1.2rem;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

/* OPEN/CLOSED SECTION */
.subheading-container {
  text-align: center;
}

span {
  font-family: "courier_newbold", serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #505c34;
  color: #FDF4E3;
  padding: 5px 10px;
  display: none;
}

.active {
  display: block;
}

.open-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-container h3 {
  padding: 5px 10px;
}

/* HOME SECTION */
/* ABOUT SECTION */
/* Hide the first image in about section on mobile devices */
#about-img-1 {
  display: none;
}

/* VEGAN SECTION */
.vegan-container {
  background-color: #FDF4E3;
}

/* MENU SECTION */
.menu-container {
  background-color: #505c34;
}

.menu-container h1, .menu-container p, .menu-container h2 {
  color: #FDF4E3;
}

.menu-dropdown-container {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-dropdown-container h2 {
  width: 60%;
}

.menu-dropdown-container img {
  width: 33.3333333333%;
}

.menu-item-container {
  padding: 0 2rem;
  width: 100%;
  display: none;
}

.menu-item-container table {
  width: 100%;
  color: #FDF4E3;
  font-family: "courier_newregular", serif;
}

.menu-item-container table td {
  padding: 5px 0;
}

#breakfast-img {
  order: 4;
}

#lunch-img {
  order: 5;
}

#drinks-img {
  order: 6;
}

/* MISSION SECTION */
.mission-container {
  background-color: #FDF4E3;
}

/* SOCIALS SECTION */
.social-container {
  background-color: #FDF4E3;
}

/* CONTACT SECTION */
.contact-container .container-text {
  text-align: center;
}

.contact-container .container-text h1 {
  color: black;
}

.contact-container .container-text span {
  display: block;
  background-color: transparent;
  color: black;
  font-size: 1.2rem;
  padding: 0px;
}

/* FOOTER SECTION */
.footer-container {
  background-color: #505c34;
  display: flex;
  color: #fff;
  width: 100%;
  flex-direction: column;
  padding-top: 2rem;
}

.footer-container .logo-container {
  width: 300px;
}

.footer-text {
  width: 100%;
}

.footer-text a {
  color: #fff;
}/*# sourceMappingURL=style.css.map */